$primary-color: #53b364;
$light-primary-color: #0ed75c;
$primary-bg: #e4f2e4;

$title-color: #666;
$text-color: #333;
$text-muted-color: #abaeb4;
$white-color: #fff;
$bg-color: #efefef;
$border-color: #e9eaeb;
$error-color: #ff6e32;

// 页边距
$page-margin: 24px;

// 字体
$font-small: 12px;
$font-normal: 16px;
$font-big: 20px;
